<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:700,600"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
      <div class="box">
        <h1>Still Not Logged In!!!</h1>

        <input
          type="email"
          name="username"
          value="email"
          ngModel
          placeholder="Email"
          class="email"
        />

        <input
          type="password"
          name="password"
          value="password"
          ngModel
          class="password"
          placeholder="Password"
        />
        <!-- End Btn -->

        <button type="submit" class="btn">
          Login
        </button>
      </div>
    </form>
  </body>
</html>
