<div class="row">
  <div class="col-12" style="background: #f9f9f9;">
    <div class="row" style="margin-left: 14em; display: inline-block;">
      <div style="display: inline-block; width: 49%;">
        <img
          style="width: 25em;"
          src="https://www.dropbox.com/s/dp99w5it96o1ug4/4.png?raw=1"
        />
      </div>
      <div
        class="col-lg-6 col-12 text-center p-5"
        style="display: inline-block; width: 40%; margin-left: 5em;"
      >
        <small>
          # NEW SUMMER COLLECTION 2019
        </small>
        <h1 style="font-weight: 600; font-size: 3em;">
          JACKET
        </h1>

        <div class="btn">
          <button
            style="
              color: white;
              background-color: black;
              background-image: none;
              padding: 0.5em 1em;
              border: none;
            "
            id="btn1"
          >
            SHOP NOW
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
